// Body
$body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


// altre variabili
// header

$colorPrimary: #00ccbc;
$colorSecondary: #d0eb99;
$colorTitleHaeder:#440063;
$colorCurrent:white;
$fontSizeDashboard: 23px;
$adminBgColor: #fff;


// footer

$bg-footer-color: #2E3333;
$bg-box-footer-color: #434848;

// jumbo_home
$linkColor:#00a396;
$spacingTopJumbo:30px;
$spacingBottomJumbo:40px;
$fontTitleJumbo:40px;
