table#cart {
    min-height: 80vh;

    td {
        padding: 20px;
    }
}

div.nav-cart-border-bottom {
    border-bottom: 2px solid #dee2e6;
}

.img-fluid.cart-fluid {
    max-width: 100%;
    height: auto;
    min-width: 80px;
}
