.stiky-nav {
    position: sticky;
    top: 0;
    z-index: 40;
    border-bottom: 1px solid $colorTitleHaeder;
}

.navbar-restaurants {
    max-height: 86px;
    margin: auto;
}

.navbar-light .navbar-nav .active > .nav-link,{
    color: $colorPrimary;
    font-weight: bold;
    margin-left:30px;
    font-size: 18px;


    &:hover {
        background-color: $colorPrimary;
        color:white;
    }
}

.main-container {
    @extend .flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 50px 0;

    #sidebar-wrapper {
        border-top: 1px solid #e8ebeb;
        border-bottom: 1px solid #e8ebeb;
        min-width: 180px;
        min-width: 200px;
        background-color: #00ccbc33;
        position: sticky;
        top: 86px;

        h4 {
            padding: 22px 0;
            font-weight: bold;
            color: #2e3333;
        }
    }
}

.form-check-label {
    margin-bottom: 10px;
    font-size: 14px;
}

.form-check-input {
    border-radius: 5px;
    width: 18px;
    height: 18px;
    margin: 0 8px 0 0;
    box-shadow: inset 0 0 0 2px #bac3c3;
    cursor: pointer;
    position: relative;
}

.restaurant-strip {
	@extend .flex;

    .strip {
        position: relative;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 183px;
            height: 92px;
            margin:10px 5px;
            border-radius: 5px;
            background: #fff;
            border: none;
        }

        span {
            width: 100%;
            color: white;
            font-weight: bold;
            font-size: 16px;
            position: absolute;
            left: 11px;
            bottom: 13px;
        }
    }
}

.offers-promo {
    @extend .flex;
    margin-top:20px;

    img {
        width: 344px;
        height: 172px;
        margin:10px 8px;
    }
}

.print-restaurants {
    p {
        color: #828585;
        font-size: 16px;
    }
}



.logo-guest-restaurant {
    width: 130px;

    img {
        display: block;
        width: 100%;
    }
}

// stile stampa dei ristoranti e categorie
.box-restaurant-container, .card-restaurant-container{
    display: flex;
    flex-wrap: wrap;
    h1{
        font-weight: bold;
        padding-bottom:20px;
    }
    h4{
        font-weight: bold;
        padding:20px 0;
    }
#all-restaurants, .all-category{
    @extend .flex;
    justify-content: flex-start;
    a{
        text-decoration: none;
    }


    .box-restaurant, .card-restaurant{
        box-shadow: 0 1px 4px rgb(0 0 0 / 8%), 0 0 0 1px rgb(0 0 0 / 4%);
        margin: 5px 5px 5px;
        border-radius: 3px;
        background-color: #fff;
        overflow: hidden;
        width: 262px;
        height: 300px;
        margin-bottom:28px;

        h4{
            padding-left: 10px !important;
            font-size: 20px;
            font-weight: bold;
            padding: 20px 0;
            color:black;
        }
        p{
            padding:0 10px;
            color: #828585;
            font-size: 16px;
        }
        a{

            text-decoration: none;
        }
    }
}
}

.restaurant-img {
    overflow: hidden;

    &:hover img {
        border-radius: 50%;
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    img {
        width: 100%;
        height: 147px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

}

.side{
    width: 14%;
}
.reserch-restaurant{
width: calc(86% - 20px);
    h4{
        // font-size: 20px;
        font-weight: bold;
        padding: 20px 0;
        color:black;
    }
}

.underline{
    text-decoration: underline;
}

h4.divisor {
    background-color: #00ccbc33;
}

div.select-under-600 {
    display: none;
}

div.hidden-show-cart-restaurant {
    display: none;
    max-width: 100px;
}
